.right-panel-container {
    background-color: var(--color-9);
    width: 400px;
    max-width: 100%;
    height: 100vh;
    overflow-y: auto;
    border-left: solid 1px var(--color-2);
    border-radius: 3px 0 0 3px;
    margin: 0;
    padding: 1rem;
    right: 0;
    z-index: 11; 
    opacity: 1;
}

.right-panel-header {
    margin-bottom: 1rem;
}

.right-panel-title {
    text-align: center;
    color: white;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.right-panel-content {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 1rem;
}

.right-panel-section {
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--color-2);
    padding-bottom: 0.5rem;
}

.right-panel-item {
    margin-left: 1rem;
    padding: 0.25rem;
    cursor: pointer;
}

.right-panel-item:hover {
    color: #ffd700;
    background-color: var(--color-1);
}


.input-field-group {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 1rem;
}


.right-panel-card {
    background-color: var(--color-11);
    border: 1px solid var(--color-2);
    color: white;
    box-shadow: 0 4px 12px rgba(0, 255, 247, 0.2); /* sombra suave */
}

.right-panel-card-header {
    background-color: var(--color-2);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    
    
}

.mt-2{
    background-color: var(--color-11);
    border-color: var(--color-3);
    
}

.mt-2:hover{
    background-color: var(--color-2);
    border-color: var(--color-3);
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2); /* sombra suave */
    
}